/* ---------------- GOOGLE FONT ---------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* ---------------- VARIABLES ---------------- */
:root {
  --primary-font-color: #000;
  --body-background-color: #c8d8e4;
  --header-background-color: #f2f2f2;
  --hover-color: #52ab98;
  --dark-hover-color: #2b6777;
}
/* ---------------- COMMON CSS ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--header-background-color);
}

a {
  font-weight: 500;
}

/* ---------------- NAVIGATION CSS ---------------- */
.navbar {
  width: 100%;
  padding-left: 20px;
  height: 50px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-background-color);
}

.nav-title h2 {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
}

.nav-title span {
  color: var(--hover-color);
}

.hamburgerMenu {
  display: none;
}

.links {
  font-size: 18px;
  display: flex;
}

.links a {
  color: var(--primary-font-color);
  padding: 13px 10px 13px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.links a .icons {
  margin-right: 7px;
}

.links a:hover {
  background-color: var(--hover-color);
  color: var(--header-background-color);
}

#hamburger {
  display: none;
}
/* ---------------- RESPONSIVE NAVIGATION CSS ---------------- */
@media (max-width: 640px) {
  .navbar {
    justify-content: space-between;
  }

  .hamburgerMenu {
    display: block;
    margin-right: 20px;
  }

  .hamburgerMenu label {
    display: inline-block;
    cursor: pointer;
    padding: 17px;
    height: 50px;
    width: 50px;
  }

  #hamburgerMenu label:hover,
  .navbar #hamburger:checked ~ .hamburgerMenu > label {
    background-color: var(--background-color);
  }

  .hamburgerMenu label div {
    border-top: 2px solid var(--hover-color);
    display: block;
    height: 10px;
    width: 25px;
  }

  .links {
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    width: 100%;
    height: 0px;
    border-top: 1px solid var(--hover-color);
    overflow-y: hidden;
    background-color: var(--header-background-color);
    transition: all 0.3s;
  }

  .links a {
    display: block;
    width: 100%;
  }

  .links a .icons {
    margin-right: 7px;
  }

  #humburger:not(:checked) ~ .links {
    height: 0px;
  }

  #hamburger:checked ~ .links {
    height: calc(250px - 50px);
    border-bottom: 1px solid var(--hover-color);
  }
}
/* ---------------- NAVIGATION CSS ENDS ---------------- */

/* ---------------- HOME PAGE CSS ---------------- */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner.svg");
  background-attachment: fixed;
}

.home .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  user-select: none;
}

.home .hero p {
  font-size: 2rem;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--header-background-color);
  background-color: var(--hover-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home .hero h1 {
  color: var(--header-background-color);
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 4px 3px 0px var(--dark-hover-color),
    9px 8px 4px rgba(0, 0, 0, 0.15);
}

.home .hero a {
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--header-background-color);
  background-color: var(--hover-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home .hero a .icon {
  margin-right: 4px;
}
/* ---------------- RESPONSIVE HOME PAGE CSS ---------------- */
@media (max-width: 640px) {
  .home .hero p {
    font-size: 1rem;
  }

  .home .hero h1 {
    font-size: 1.9rem;
  }

  .home .hero a {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
/* ---------------- HOME PAGE CSS ENDS ---------------- */

/* ---------------- SKILLS PAGE CSS ---------------- */
.skills {
  width: 100%;
  height: auto;
  padding: 0px 13%;
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills_head {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 40px 0 0 0;
}

.skills_head h2 {
  color: #000;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skills_head h2 .icons {
  margin-right: 5px;
}

.skills_head p {
  color: var(--hover-color);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.skills_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  margin: 40px 0;
}

.skills_main .skill_bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill_bar .info p:nth-child(2) {
  font-weight: 500;
}

.skill_bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--body-background-color);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}

.skill_bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: var(--hover-color);
  border-radius: 25px;
}

/* ======== HTML SKILL BAR ======== */
.skill_bar .bar .html {
  width: 100%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* ======== CSS SKILL BAR ======== */
.skill_bar .bar .css {
  width: 100%;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* ======== JS SKILL BAR ======== */
.skill_bar .bar .js {
  width: 30%;
  animation: js 2s;
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

/* ======== GRAPHIC DESIGN SKILL BAR ======== */
.skill_bar .bar .graphic {
  width: 100%;
  animation: graphic 2s;
}
@keyframes graphic {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* ---------------- RESPONSIVE SKILLS PAGE CSS ---------------- */
@media (max-width: 640px) {
  .skills_main {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills_head h2 {
    font-size: 25px;
  }
  .skills_head p {
    font-size: 14px;
  }
}
/* ---------------- SKILLS PAGE CSS ENDS---------------- */
